/* It is good idea to start by formating the background colour to see if the styles are working corrently. Later on, you can remove the color if you are not interested in having it anymore.*/

body
{
    background-color: rgb(135, 187, 187);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(45, 43, 43);
}

.logo
{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 6px;
}

nav li
{
    display: inline;
}

/*To remove the extra spacing on the left side of the navigation*/
nav ul
{
    padding-left: 0;
}